$primary : var(--primary);
$accent : var(--accent);
$link : var(--link);
$background : var(--bg-primary);
$background-secondary : var(--bg-secondary);


body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}